<!DOCTYPE html>
<html lang="ar" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>AMDE</title>
  <link rel="stylesheet" href="/resources/css/style.css">
  <script src="https://kit.fontawesome.com/7b41f2f688.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="new-post new-post-part-one-container">
    <div class="new-post new-post-title-container">
      <p class="new-post new-post-details">عنوان الموضوع :</p>
      <input class="new-post new-post-input new-post-title" type="text" name="post-title" placeholder="نصائح للمقبلين على تعلم البرمجة">
    </div>
    <form class="new-post new-post-image-container" action="/upload" method="post" enctype="multipart/form-data">
      <p class="new-post new-post-details">صورة الموضوع :</p>
      <input id="new-pic" class="new-post new-post-input new-post-image" type="file" accept="image/*" name="photo" >
      <p id="upload-err"><%= (typeof msg != 'undefined') ? msg : '' %></p>
      <input id="upload" class="new-post new-post-image-submit" type="button" value="upload">
    </form>
  </div>
  <div class="show-uploaded-image">
    <img class="new-post-image-show" src="<%= typeof file != 'undefined' ? file : '' %>" alt="">
  </div>

  <div class="text-options">
    <div class="part">
      <button onclick="execCmd('bold');"><i class="fa fa-bold"></i> </button>
      <button onclick="execCmd('italic');"><i class="fa fa-italic"></i> </button>
      <button onclick="execCmd('underline');"><i class="fa fa-underline"></i> </button>
      <button onclick="execCmd('strikeThrough');"><i class="fa fa-strikethrough"></i> </button>
      <button onclick="execCmd('justifyRight');"><i class="fa fa-align-right"></i> </button>
      <button onclick="execCmd('justifyCenter');"><i class="fa fa-align-center"></i> </button>
      <button onclick="execCmd('justifyLeft');"><i class="fa fa-align-left"></i> </button>
      <!-- <button onclick="execCmd('jsutifyFull');"><i class="fa fa-align-justify"></i> </button> -->
      <button onclick="execCmd('insertHorizontalRule');">HR</button>
      <!-- <button onclick="execCmd('cut');"><i class="fa fa-cut"></i> </button> -->
      <!-- <button onclick="execCmd('copy');"><i class="fa fa-copy"></i> </button> -->
      <!-- <button onclick="execCmd('outdent');"><i class="fa fa-dedent"></i> </button> -->
      <!-- <button onclick="execCmd('indent');"><i class="fa fa-indent"></i> </button> -->
      <button onclick="execCommandWithArg('createLink', prompt('enter a url', 'http://'));" type="button" name="button"><i class="fa fa-link"></i> </button>
      <button onclick="execCmd('unlink');" type="button" name="button"><i class="fa fa-unlink"></i> </button>
      <button onclick="execCmd('undo');"><i class="fa fa-undo"></i> </button>
      <button onclick="execCmd('redo');"><i class="fa fa-repeat"></i> </button>
      <button onclick="execCommandWithArg('insertImage', prompt('Enter Image Url'), '');"><i class="fa fa-image"></i> </button>
    </div>

    <!-- <div class="part">
      <button onclick="execCmd('subscript');"><i class="fa fa-subscript"></i> </button>
      <button onclick="execCmd('superscript');"><i class="fa fa-superscript"></i> </button>
      <button onclick="execCmd('insertUnorderedList');"><i class="fa fa-list-ul"></i> </button>
      <button onclick="execCmd('insertorderedlist');"><i class="fa fa-list-ol"></i> </button>
      <button onclick="execCmd('insertParagraph');"><i class="fa fa-paragraph"></i> </button>
    </div> -->

    <div class="part">

      <select onchange="execCommandWithArg('formatBlock', this.value);">
        <option value="H1" style="font-size: 28pt; font-weight: 600;">H1</option>
        <option value="H2" style="font-size: 24pt; font-weight: 600;">H2</option>
        <option value="H3" style="font-size: 20pt; font-weight: 600;">H3</option>
        <option value="H4" style="font-size: 16pt; font-weight: 600;">H4</option>
        <option value="H5" style="font-size: 12pt; font-weight: 600;">H5</option>
        <option value="H6" style="font-size: 8pt; font-weight: 600;">H6</option>
      </select>
      <!-- <button onclick="toggleSource();" type="button" name="button"><i class="fa fa-code"></i> </button> -->

      <!-- <select onchange="execCommandWithArg('fontName', this.value);">
      <option value="Arial">Arial</option>
      <option value="Comic Sans MS">Comic Sans MS</option>
      <option value="Courier">Courier</option>
      <option value="Georgia">Georgia</option>
      <option value="Tahoma">Tahoma</option>
      <option value="Times New Roman">Times New Roman</option>
    </select> -->
      <!-- <select onchange="execCommandWithArg('fontSize', this.value);">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select> -->
      اللون <input class="colorPicker" type="color" onchange="execCommandWithArg('foreColor', this.value);">
      الخلفية <input class="colorPicker" type="color" onchange="execCommandWithArg('hiliteColor', this.value);">
      <!-- <button onclick="execCmd('selectAll');">Select All</button> -->
    </div>
  </div>
  <div class="part iframe-container">
    <button id="edit-view" onclick="toggleEdit();" type="button" name="button">تعديل</button>
    <iframe id="myframe1" name="richTextField" src=""></iframe>

  </div>


  <script src="/resources/js/ajax.js"></script>
  <script>
    enableEditMode();

    //setting the body inside the iframe direction to rtl
    const iframe = document.getElementById('myframe1');
    iframe.contentWindow.document.body.style.direction = "rtl";

    var showingSourceCode = false;
    var isInEditMode = true;

    function enableEditMode() {
      richTextField.document.designMode = 'On';
    }

    function execCmd(command) {
      richTextField.document.execCommand(command, false, null)
    }

    function execCommandWithArg(command, arg) {
      richTextField.document.execCommand(command, false, arg)
    }

    function toggleSource() {
      if (showingSourceCode) {
        richTextField.document.getElementsByTagName('body')[0].innerHTML = richTextField.document.getElementsByTagName('body')[0].textContent;
        showingSourceCode = false;
      } else {
        richTextField.document.getElementsByTagName('body')[0].textContent = richTextField.document.getElementsByTagName('body')[0].innerHTML;
        showingSourceCode = true;
      }
    }

    function toggleEdit() {
      if (isInEditMode) {
        richTextField.document.designMode = 'Off';
        isInEditMode = false;
      } else {
        richTextField.document.designMode = 'On';
        isInEditMode = true;
      }
    }

    //link css file to the iframe
    window.onload = function() {
      let link = document.createElement("link");
      link.href = "/resources/css/style-iframe.css";
      link.rel = "stylesheet";
      link.type = "text/css";
      iframe.contentWindow.document.head.appendChild(link);
    }

    const btns = document.getElementsByTagName('button');
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener('click', function() {
        iframe.contentWindow.document.body.focus();
      })
    }

    const editView = document.getElementById('edit-view');
    let toggle = false;
    editView.addEventListener('click', function() {
      if (toggle) {
        toggle = false;
        editView.style = `background: white; color: black;`;
        editView.textContent = "تعديل";
      } else {
        toggle = true;
        editView.style = `background: black; color: white;`;
        editView.textContent = "معاينة";
      }
    })
  </script>
</body>

</html>
