<!DOCTYPE html>
<html lang="ar" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>AMDE</title>
  <link rel="stylesheet" href="/resources/css/style.css">
  <script src="https://kit.fontawesome.com/7b41f2f688.js" crossorigin="anonymous"></script>
</head>

<body>
  <h1>موضوع جديد</h1>
  <div class="new-post new-post-part-one-container">
      <p class="new-post new-post-details">عنوان الموضوع :</p>
      <input class="new-post new-post-input new-post-title" type="text" name="post-title" placeholder="نصائح للمقبلين على تعلم البرمجة">
      <p class="new-post new-post-details">صورة الموضوع :</p>
      <input id="new-pic" class="new-post new-post-input new-post-image" type="file" accept="image/*" name="photo">
      <p id="upload-err"><%= (typeof msg != 'undefined') ? msg : '' %></p>
      <input id="upload" class="new-post new-post-submit" type="button" value="upload">

    <!-- [TEST PURPOSE] show-uploaded-image -->
    <div class="show-uploaded-image">
      <img class="new-post-image-show" src="<%= typeof file != 'undefined' ? file : '' %>" alt="">
    </div>
  </div>

  <div class="text-options">
    <div class="part">
      <select onchange="execCommandWithArg('formatBlock', this.value);">
        <option value="H1" style="font-size: 28pt; font-weight: 600;">H1</option>
        <option value="H2" style="font-size: 24pt; font-weight: 600;">H2</option>
        <option value="H3" style="font-size: 20pt; font-weight: 600;">H3</option>
        <option value="H4" style="font-size: 16pt; font-weight: 600;">H4</option>
        <option value="H5" style="font-size: 12pt; font-weight: 600;">H5</option>
        <option value="H6" style="font-size: 8pt; font-weight: 600;">H6</option>
      </select>
      اللون <input class="colorPicker" type="color" onchange="execCommandWithArg('foreColor', this.value);">
      الخلفية <input class="colorPicker" type="color" onchange="execCommandWithArg('hiliteColor', this.value);">
    </div>
    <div class="part">
      <button onclick="execCmd('bold');"><i class="fa fa-bold"></i> </button>
      <button onclick="execCmd('italic');"><i class="fa fa-italic"></i> </button>
      <button onclick="execCmd('underline');"><i class="fa fa-underline"></i> </button>
      <button onclick="execCmd('strikeThrough');"><i class="fa fa-strikethrough"></i> </button>
      <button onclick="execCmd('justifyRight');"><i class="fa fa-align-right"></i> </button>
      <button onclick="execCmd('justifyCenter');"><i class="fa fa-align-center"></i> </button>
      <button onclick="execCmd('justifyLeft');"><i class="fa fa-align-left"></i> </button>
      <button onclick="execCmd('insertHorizontalRule');">HR</button>
      <button onclick="execCommandWithArg('createLink', prompt('enter a url', 'http://'));" type="button" name="button"><i class="fa fa-link"></i> </button>
      <button onclick="execCmd('unlink');" type="button" name="button"><i class="fa fa-unlink"></i> </button>
      <button onclick="execCmd('undo');"><i class="fa fa-undo"></i> </button>
      <button onclick="execCmd('redo');"><i class="fa fa-repeat"></i> </button>
      <button onclick="execCommandWithArg('insertImage', prompt('Enter Image Url'), '');"><i class="fa fa-image"></i> </button>
    </div>
    <div class="part iframe-container">
      <button id="edit-view" onclick="toggleEdit();" type="button" name="button">تعديل</button>
      <iframe id="myframe1" name="richTextField" src=""></iframe>
    </div>
  </div>


      <!-- <button onclick="toggleSource();" type="button" name="button"><i class="fa fa-code"></i> </button> -->
      <!-- <select onchange="execCommandWithArg('fontSize', this.value);">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select> -->


  <script src="/resources/js/ajax.js"></script>
  <script src="/resources/js/index.js"></script>
</body>

</html>
