@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family: 'Tajawal', sans-serif;
  box-sizing: border-box;
}
body{
  direction: rtl;
}
h1{
  margin: 10px 0px;
  color: lightgray;
  text-align: center;
}
.new-post-part-one-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-post-details{
  text-align: center;
}
.new-post-input, .new-post-submit{
  width: 50%;
  padding: 8px 10px;
  margin: 8px 0px;
  color: black;
  background: white;
  border: 1px rgb(225, 225, 225) solid;
}
.new-post-submit{
  color: white;
  background: black;
  border-color: black;
}
#upload-err{
  color: red;
  text-align: center;
}


.text-options{
  display: flex;
  flex-direction: column;
}
.part{
  margin: 5px auto;
}

button, select{
  padding: 8px 13px 5px;
  background: white;
  border-radius: 3px;
  border: 1px rgb(225, 225, 225) solid;
}
button:hover{
  transform: scale(1.2);
}
button:active{
  background: black;
  color: white;
}
.colorPicker{
  height: 25px;
  width: 30px;
  background: white;
  border-radius: 3px;
  border: 1px rgb(225, 225, 225) solid;
}
.iframe-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#edit-view{
  position: absolute;
  top: 0px;
  width: 20%;
  z-index: 5;
}
iframe{
  min-height: 400px;
  width: 70vw;
  border: 1px rgb(210, 210, 210) solid;
  box-shadow: inset 0 0 3px lightgray;
  transform: translateX(-3%);
}
