@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
*{
  font-family: 'Tajawal', sans-serif;
}
body{
  direction: rtl;
  padding-top: 40px;
  background: white;
}
h1{
  text-align: center;
}
iframe *{
  direction: rtl;
}
